/* Font */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}

body {
  background-color: #242424;
  color: aliceblue;
}
button {
  -webkit-tap-highlight-color: transparent;
}

.bloob {
  position: absolute;
  background-color: rgba(128, 0, 128, 0.288);
  width: 25rem;
  height: 25rem;
  top: 20px;
  left: 0;
  border-radius: 50%;
  z-index: -10;
  filter: blur(300px);
}
.bloob2 {
  position: absolute;
  background-color: rgba(0, 17, 255, 0.274);
  width: 20rem;
  height: 20rem;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  z-index: -10;
  filter: blur(300px);
}
.stopwatch {
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
  width: 500px;
  margin: 10rem auto;
  border-radius: 0.5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  z-index: 10;
}
.stopwatch header {
  text-align: center;
  padding: 0 1.5rem;
}
.stopwatch header p {
  font-size: 2rem;
  letter-spacing: 2px;
  font-style: oblique;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.stopwatch header .line {
  height: 2px;
  background-color: #eeeeee2d;
  box-shadow: 0 3px 12px rgb(0, 0, 0, 0.5);
  border-radius: 50%;
}
.stopwatch .stopwatch__display {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.stopwatch .stopwatch__display span {
  width: 50px;
  display: block;
  text-align: center;
}
.stopwatch .stopwatch__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.stopwatch .stopwatch__controls button {
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.stopwatch .stopwatch__controls button:nth-child(2) {
  transform: scale(1.3);
}
.stopwatch .stopwatch__controls button span {
  color: white;
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  visibility: hidden;
  font-size: 14px;
}
.stopwatch .stopwatch__controls button:hover span {
  visibility: visible;
  transform: translateX(-50%) translateY(0px);
  transition: all 0.3s ease;
}
.stopwatch .stopwatch__controls button span::before {
  content: "";
  position: absolute;
  background-color: #242424;
  width: 50px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  top: -5px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.9);
}
.stopwatch .stopwatch__controls button span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #242424;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -2;
  border: 1px solid;
}
.stopwatch .stopwatch__controls button i {
  font-size: 1.5rem;
  color: #eee;
  transition: all 0.3s ease;
  background: transparent;
}
.stopwatch .stopwatch__controls button:hover i {
  transform: scale(1.4);
  text-shadow: 0 0 20px #aaa;
  background-color: transparent;
}
.stopwatch .stopwatch__controls button:active i {
  transform: scale(1);
}

@media screen and (width < 520px) {
  .stopwatch {
    box-shadow: none;
    width: 100%;
  }
  .bloob {
    width: 100%;
    height: 100%;
    filter: blur(350px);
  }
  .bloob2 {
    display: none;
  }
}

@media screen and (width < 330px) {
  .stopwatch header p {
    font-size: 10vw;
  }
  .stopwatch .stopwatch__display {
    gap: 3px;
    font-size: 8vw;
  }
  .stopwatch .stopwatch__controls button {
    width: 8vw;
    height: 8vw;
  }
}
